nav{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: red;
}
h1{
    color: blue;
}
footer{
    font-family: 'Times New Roman', Times, serif;
}
#monTitre {
    color: red;
}
#maClasseTitre{
    color: blue;
}